* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #eff4fd;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

.hero .logo {
    width: 130px;
    height: auto;
    margin: 30px;
    border-radius: 50%;
}

.kelas {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;

}

nav ul li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

nav ul li a:hover {
    color: #7752e6;
    font-size: 21px;
    transition: 0.3s;
}

.me {
    margin-left: 8%;
    margin-top: 15%;
}

.me h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: #7752e6;
}

.me p {
    color: #555;
    line-height: 22px;
    font-size:20px;
}

.images {
    position: absolute;
    width: 45%;
    height: 70px;
    bottom: 0;
    right: 70px;
    top: 40%;
}

.bj {
    position: absolute;
    width: 250px;
    height: 350px;
    border-radius: 40px;
    border: #7752e6 2px solid;
    margin: 270px 200px;   
}

.bj img {
    width: 150px;
    border-radius: 100px;
    margin: 20px 45px;
    border: #9073e7 4px solid;
}

.bj p { 
    font-size: 20px;
    color: #212121;
    text-align: center;
}
.click{   
    margin:18% 22%;  
}

.click a {
    position:absolute;
    background:#7752e6;
    border: #7752e6 1px solid;  
    text-align: center;
    font-size: 30px;
    border-radius: 40px; 
    text-decoration: none;
    color: #ffffff;
    padding: 4px;
}
 

.click a:hover {
    color: #7752e6;
    background-color: #ffffff;
    transition:0.3s;
}

.tag {
    position: absolute;
    width: 250px;
    height: 350px;
    border-radius: 40px;
    border: #7752e6 2px solid;
    margin: 270px 200px;
    right: 50px;
}

.tag img {
    width: 150px;
    border-radius: 100px;
    margin: 20px 45px;
    border: #9073e7 4px solid;
}

.tag p {  
    font-size: 20px;
    color: #212121;
    text-align: center;
}

.click1{
    margin:18% 22%;
}

.click1 a {
    position:absolute;
    background:#7752e6;
    border: #7752e6 1px solid;  
    text-align: center;
    font-size: 30px;
    border-radius: 40px; 
    text-decoration: none;
    color: #ffffff;
    padding: 4px;
}
 

.click1 a:hover {
    color: #7752e6;
    background-color: #ffffff;
    transition: 0.3s;
}

.coppyright{
    position: absolute;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height:30px;
    background-color:#212121;
    margin-top: 65%;
    color: #ffffff;
}

